:global {

    body {
        margin: 0;
        -webkit-overflow-scrolling: touch;
        overscroll-behavior-x: none;
        overscroll-behavior-y: contain;
    }

    html {
        user-select: none;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Open Sans", Roboto,Helvetica,Arial,sans-serif;
        font-size: 15px;
    }

    input {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Open Sans", Roboto,Helvetica,Arial,sans-serif;
        font-size: 15px;
        outline: none;
    }
}
